.nav-pills .nav-link.active, 
.nav-pills .show>.nav-link {
    color: #00b14f;
    border-bottom: 2px solid #00b14f !important;
    background-color: white !important;
    border-radius: 0;
}

.box-product-main{
    background-color: #f7f7f7;
}
.boxProduct .foodItem{
    margin: 5px 5px;
    background-color: white;
    border-radius: 5px;
    width: calc(100%/3 - 10px);
}
.boxProduct .foodItem:hover{
    border: 1px #00b14f solid;
}
.boxProduct .infoItem{
   
    display: flex;
    flex-direction: column;
    
}
.boxProduct .add-icon{
    display: flex;
    width: 32px;
    height: 32px;
    border-radius:16px;
    background-color: #00b14f;
    align-items: center;
    justify-content: center;
    

}
.boxProduct .price-box{
    display: flex;
    flex: 1;
    justify-content: space-between;
   
    
}

.boxProduct .imgFood img{
    width: 100%;
    height: auto;
    height: 120px;
    margin-right: 16px;
}
.boxProduct .nameFood{
    flex: 1;
}

@media(max-width:991px){
    .imgFood img{
        width: 130px;
        height: 130px;
        margin-right: 16px;
    }
}