* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#header {
    height: 88px;
    
    font-size: 14px;
    font-weight: 400px;
    display: flex;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1;
    transition: 0.25s ease-in-out;
    /* box-shadow: 0 0 2px rgb(0, 0, 0, 0.3); */
    background-color: white;
    justify-content: space-between;
}
.header-right{
    display: flex;
    flex-wrap: nowrap;
}
#header.ontop {
    box-shadow: 0 0 2px rgb(0, 0, 0, 0.3);
    background-color: white;
}

#header .logo {
    float: left;
    position: relative;
    left: 0;
    cursor: pointer;
}

#header .logo img {
    width: 120px;
    height: 72px;
    float: left;
   
}

#header .item-cart {
    margin-left: 6px;
    margin-right: 6px;
    color: black;
    float: right;
    background-color: white;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    margin-left: auto;
    border-radius: 4px;
    box-shadow: 0 0 1px rgb(0, 0, 0, 0.3);
    cursor: pointer;
}

#header .item-login-out {
    margin-left: 6px;
    margin-right: 6px;
    color: black;
    background-color: white;
    width: 138px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 4px;
    box-shadow: 0 0 1px rgb(0, 0, 0, 0.3);
    cursor: pointer;
}

#header .item-language {
    margin-left: 6px;
    margin-right: 6px;
    color: black;
    height: 40px;
    min-width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 4px;
    position: relative;
    margin-right: 150px;
    box-shadow: 0 0 1px rgb(0, 0, 0, 0.3);
}

#header .item-language:hover .a-item-language {
    cursor: pointer;
}

#header .a-item-language {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: white;
    border: none;
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 4px;
}

#header .ti-angle-down {
    font-size: 8px;
    margin-top: 2px;
    margin-left: 6px;
    position: relative;
}

#header .sub-language {
    display: none;
}

#header .sub-language.open{
    display: block;
    position: absolute;
    bottom: -90px;
    right: 0px;
    top: 40px;
}

#header .sub-language li {
    list-style-type: none;
    display: block;
    min-width: 148px;
    line-height: 40px;
    background-color: white;
    padding: 0px 12px;
    font-weight: 500;
    font-size: 12px;
    left: 0;
}

#header .sub-language li:hover {
    background-color: rgb(172, 170, 170);
}

#header .sub-language .lg-tv {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-top: 8px;
}

#header .sub-language .lg-ta {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.container-cart {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: flex;
    transition: 0.5 ease-in-out;
}

.container-cart .empty {
    flex: 1;
    width: calc(100% - 516px);
    height: 100%;
    background-color: rgba(128, 128, 128, 0.237);
    order: 1; /* Đặt thứ tự hiển thị là 1 */
    position: relative;
    display: none;
}

.container-cart .main-cart {
    flex: 0 0 516px;
    height: 100%;
    background-color: #fff;
    order: 2;
    position: relative;
    display: none;
    transition: 0.25 ease-in-out;
}

.container-cart.open {
    z-index: 2;
    transition: 0.25 ease-in-out;
}

.container-cart .empty.open,
.container-cart .main-cart.open {
    display: block;
    transition: 0.25 ease-in-out;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.empty-empty {
    height: 88px;
    width: 100%;
}

#content {
    width: 100%;
    max-width: calc(100% - 175px);
    z-index: 0;
    position: relative;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100% - 175px);
    min-height: 0;
    margin-bottom: 30px;

}

#content .navigation {
    display: flex;
}

#content a {
    text-decoration: none;
    color: #00a5cf;
    transition: 0.25s ease;
    font-weight: 400;
}

#content a:hover {
    color: green;
}

#content .fa-light {
    margin: 0px 10px;
}

#content p {
    font-weight: 400;
}

#content .rating {
    display: flex;
    font-weight: 400;
    line-height: 1.42857143
}

#content .rating .fa-solid.fa-star {
    color: rgb(253, 219, 0);
    margin-top: 3px;
    margin-right: 18px;
    font-size: 14px;
}

#content .rating p {
    font-size: 14px;
}

#content .rating .fa-clock {
    margin-left: 50px;
}

#content .rating .fa-circle {
    font-size: 4px;
    margin: 0 10px;
    padding-top: 10px;
    color: rgb(167, 167, 167);
}

#content .time-open {
    display: flex;
}

#content .title {
    font-weight: 500;
    margin-right: 40px;
    color: rgb(61, 60, 60);
}

#content .current-time {
    color: rgb(167, 167, 167);
    font-size: 16px;
}

#content .discount-2,
#content .discount-1 {
    display: flex;
    font-size: 14px;
    position: relative;
}

#content .discount-2 p,
#content .discount-1 p {
    
}

#content .discount-2 .sub-discount {
    margin-left: 10px;
    font-weight: 500;
    color: #00a5cf;
}

#content .order {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

/* #content > .oder {
    display: flex;
    flex-wrap: wrap;
} */

#content .order-time,
#content .order-day {
    flex-basis: calc(50% - 5px);
    display: block;
    max-width: 350px;
    cursor: pointer;
}

#content .order-time .content,
#content .order-day .content {
    display: flex;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.64);
    max-width: 350px;
    align-items: center;
    line-height: 1rem;
    border-radius: 6px;
    min-height: 46px;
    position: relative;
    transition: 0.5s ease-in-out;
}

#content .order-time:hover .content,
#content .order-day:hover .content {
    border-color: green;
    border: 1px solid green;
    transition: 0.25s ease-in-out;
}

#content .order-time .content .fa-clock,
#content .order-day .content .fa-calendar-days {
    margin-left: 15px;
    font-size: 20px;
    color: rgb(132, 132, 132);
}

#content .order-time .content .main-content,
#content .order-day .content .main-content {
    position: absolute;
    top: 14px;
    left: 45px;
    font-size: 14px;
}

#content .order-time .content .fa-chevron-down,
#content .order-day .content .fa-chevron-down {
    position: absolute;
    right: 0;
}
.product-menu{
    width: 100%;
}
/* @media(max-width:700px){
    #header{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        justify-content: flex-end;
    }
    #header .logo {
        float: left;
        margin-left: 0;
        cursor: pointer;
    }
    #content {
        width: 100%;
        z-index: 0;
        position: relative;
        margin-top: 32px;
        margin-left: auto;
        margin-right: auto;
        max-width: calc(100% - 175px);
        min-height: 0;
    
    }
    .header{
        display: none;
    }
    #content .order-time, #content .order-day{
        flex-basis: 100%;
    }
} */